/* CSS Styles */

body {
	font: 13px arial, sans-serif;
}

* {
}

#navbar {
	height: 50px;
	width: 100%;
}

#navbar ul {
	margin: 0;
	display: flex;
	line-height: 40px;
	float:right;
}

#navbar li {
	display: flex;
	color: rgba(0,0,0,.55);
	padding: 5px;
	padding-right: 10px;
}

a {
	text-decoration: none;
	color: #666;
}

#navbar a {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: underline;
}

#navbar a:hover {
	text-decoration: underline;
}

#google_logo {
	width: 269px;
	margin: auto;
}



.home {
    height: 44px;
    width: 46px;
    background: url('img_navsprites.gif') 0 0;
}

.box_image {
	background: url('https://ssl.gstatic.com/gb/images/i1_71651352.png') -326px -52px;
	height: 30px;
	width: 30px;
	opacity: .55;
	display:block;
	margin-top: 5px;
}

.box_image:hover {
	opacity: 1;
}

.alarm_image {
	background: url('https://ssl.gstatic.com/gb/images/i1_71651352.png') -214px -117px;
	background-color: rgba(0,0,0,.55);
	border-radius: 50%;
	height: 20px;
	width: 20px;
	display:block;
	margin-top: 10px;
}

.alarm_image:hover {
	background-color: rgba(0,0,0,1);
}

.chat_image {
	background: url('https://ssl.gstatic.com/gb/images/i1_71651352.png') -326px -17px;
	height: 30px;
	width: 30px;
	opacity: .55;
	display:block;
	margin-top: 5px;
}

.chat_image:hover {
	opacity: 1;
}

.sean_image {
	background: url('https://lh4.googleusercontent.com/-ojhE9JBQ1g8/AAAAAAAAAAI/AAAAAAAAAAA/gRJxqQ8ioTs/s32-c/photo.jpg') 0 0;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	margin-top: 3px;
	margin-right: 30px;
}

.boxtest {
	height: 200px;
	width: 200px;
	background: #222;
	margin: 0 auto;
}

#main_content {
	margin: 140px;
}

.logo {
	height: 95px;
}

#query {
	margin-bottom: 10px;
}

#main_form {
	width: 500px;
	margin: 20px auto;
}

#bottom_nav {
	position: fixed;
	bottom:0;
	width: 100%;
	display: inline-block;
	background-color: #f5f5f5;
	border-top: 1px solid #e0e0e0;
}

#bottom_nav ul li {
	display: inline-block;
	margin: 12px;
	margin-right: 15px;
	color: #222;

}

#bottom_nav a {
	display: inline-block;
}

.bottom_left_nav {
	display: inline-block;
	margin-left: 20px;
}

.bottom_right_nav {
	float: right;
	display: inline;
	margin-right: 20px;
}

input[type=text] {
	background: url('data:image/gif;base64,R0lGODlhHAAmAKIHAKqqqsvLy0hISObm5vf394uLiwAAAP///yH5BAEAAAcALAAAAAAcACYAAAO9eLpMIMYIQJi9DcYtKv6KtnHgB4yoAZSXKAyDy1rjoAzjzOQLrx8+4OanCAZnxiExGSEKmz3lj2lwUq3SZ3WZPbKuXGgxu9t4tLYDTkpIRQILF0x2G4lWipM7gj/oJQUkcXsCDCIFATULBCIcZ2tvB3QLDxETFnR/BgU/gRt9jX0gnpYMkJZpFzEoqQqJKAIBaQOVKHAXr3t7txgBjboSvB8EpLoFZywOAo3LFE5lYs/QW9LT1TRk1V7S2xYJADs=') no-repeat scroll;
	background-size: 14px 19px;
	background-position: 98% 50%;
	border: 1px solid #999;
	opacity: 0.6;
	height: 30px;
	width: 500px;
	padding-left: 5px;
}

.lucky {
	margin-left: 10px;
}

input[type=submit] {
	border-radius: 3px;
	border: 1px solid #ddd;
	background-color: #eee;
	opacity: 0.8;
	font-weight: bold;
	font-family: Arial, sans-serif;
	padding: 8px;
}

input[type=submit]:hover {
	opacity: 1;
}













